* {
  margin: 0;
  padding: 0;
}

.day::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.day::-webkit-scrollbar
{
	width: 4px;
	background-color: #F5F5F5;
}

.day::-webkit-scrollbar-thumb
{
	background-color: lightsalmon;
}

.calendar {
  border: black 1px solid;
  width: 60%;
  align-items: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
}

.App {
  height: 100vh;
  display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

.days {
  display: flex;
  flex-direction: column;
  width: 100%
}

.day {
  border: 1px solid black;
  padding: 5px;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: none;

}

.months {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 2rem;
  width: 100%;
}

.week-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
  margin-bottom: 1rem;
}

.week-days h5 {
  margin: 0 auto;
}

.month-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
  width: 100%;
  height: 100%;
  grid-row-gap: 2rem;
  grid-template-rows: repeat(5, 95px);

}

.event-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 8px;
  min-width: 0; 
  min-height: 0;
}

.event {
  background-color: red;
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 2px;
  width: 23px;
  height: 17px;
  font-size: 9px;
  justify-content: center;
}


.specific-day {
  display: flex;
  margin-bottom: 5px;
}